# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Gateway\JobSeekerGateway: '@App\Adapter\InMemory\Repository\JobSeekerRepository'
    App\Gateway\RecruiterGateway: '@App\Adapter\InMemory\Repository\RecruiterRepository'
    App\Gateway\UserGateway: '@App\Adapter\InMemory\Repository\UserRepository'
    App\Gateway\OfferGateway: '@App\Adapter\InMemory\Repository\OfferRepository'
    App\Gateway\InterestGateway: '@App\Adapter\InMemory\Repository\InterestRepository'

    app.gateway.job_seeker:
        alias: 'App\Gateway\JobSeekerGateway'
        public: true
    app.gateway.recruiter:
        alias: 'App\Gateway\RecruiterGateway'
        public: true
    app.gateway.user:
        alias: 'App\Gateway\UserGateway'
        public: true
    app.gateway.offer:
        alias: 'App\Gateway\OfferGateway'
        public: true
    app.gateway.interest:
        alias: 'App\Gateway\InterestGateway'
        public: true
